In [305]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [374]:
df = pd.read_csv("Laliga.csv")
df.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

In [375]:
 # 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data
df = df.replace('-',0)

In [441]:
# 2. Print all the teams which have started playing between 1930-1980.

demo = df[(df.Debut >= '1930') & (df.Debut <= '1980')]
demo = demo[['Team','Debut']]
print("Number of countries which started playing between 1930-1980",demo.shape)
demo.head(40)

Number of countries which started playing between 1930-1980 (34, 2)

                   Team    Debut
3              Valencia  1931-32
5               Sevilla  1934-35
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
34            Castellon  1941-42
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
46            Gimnastic  1947-48
49             Alcoyano  1945-46
50                 Jaen  1953-54
54               Lleida  1950-51
57               Condal  1956-57
59     Cultural Leonesa  1955-56

In [439]:
#3. Print the list of teams which came Top 5 in terms of points 

demo = df[['Team','Points']].copy()
demo['Points'] = demo['Points'].astype(float)
sorted_df = demo.sort_values(by='Points',ascending = False)
sorted_df.head(5)

              Team  Points
0      Real Madrid  4385.0
1        Barcelona  4262.0
2  Atletico Madrid  3442.0
3         Valencia  3386.0
4  Athletic Bilbao  3368.0

In [428]:
# 4 Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
# Using the same function, find the team which has maximum and minimum goal difference. (5 points)
# Goal_diff_count = GoalsFor - GoalsAgainst

def Goal_diff_count(goals_for,goals_Against):
    return (goals_for-goals_Against)

df['GoalsFor']= pd.to_numeric(df['GoalsFor'])
df['GoalsAgainst'] =  pd.to_numeric(df['GoalsAgainst'])


df['Goals_diff']=df.apply(lambda x: Goal_diff_count(x['GoalsFor'],x['GoalsAgainst']),axis=1)

print("team which has max goal difference \n ")
max = df['Goals_diff'].max()
print(df[df['Goals_diff']== max])
min = df['Goals_diff'].min()
print("team which has min goal difference")
print(df[df['Goals_diff']== min])

team which has max goal difference

   Pos         Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
0    1  Real Madrid       86    4385         2762      1647        552

  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T Debut  \
0       563      5947          3140  ...     8      8     3     4  79  1929

  Since/LastApp BestPosition Goals_diff  Winning_percentage
0          1929            1       2807           59.630702

[1 rows x 22 columns]
team which has min goal difference
    Pos              Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
13   14  Racing Santander       44    1416         1428       453        336

   GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth  T Debut  \
13       639      1843          2368  ...     1      2     0     1  5  1929

   Since/LastApp BestPosition Goals_diff  Winning_percentage
13       2011-12            2       -525           31.722689

[1 rows x 22 columns]

In [429]:
# 5. Create a new column with name “Winning Percent” and append it to the data set (5 points)
    #Percentage of Winning = (GamesWon / GamesPlaye)*100

#If there are any numerical error, replace it with 0%

#Print the top 5 teams which has the highest Winning percentage

df['GamesWon'] = pd.to_numeric(df['GamesWon'])
df['GamesPlayed'] = pd.to_numeric(df['GamesPlayed'])
df['Winning_percentage']= (df['GamesWon']/df['GamesPlayed'])*100
df = df.fillna(0)
demo = df[['Team','Winning_percentage']].copy()

demo['Winning_percentage_float'] = demo['Winning_percentage'].astype(float)
demo1= demo.sort_values(by='Winning_percentage_float',ascending=False)
demo1.head(5)

              Team  Winning_percentage  Winning_percentage_float
0      Real Madrid           59.630702                 59.630702
1        Barcelona           57.241130                 57.241130
2  Atletico Madrid           47.475134                 47.475134
3         Valencia           44.557057                 44.557057
4  Athletic Bilbao           43.772629                 43.772629

In [454]:
#6. Group teams based on their “Best position” and print the sum of their points for all positions (5 points)

df['Points']=pd.to_numeric(df['Points'])
demo1=df.groupby(by='BestPosition',axis=0)
demo1['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1654
6      2113
7      1186
8      1134
9        96
10      398
11      445
12      511
14       71
15       14
16       62
17      266
19       81
Name: Points, dtype: int64